.comment-container {
  display: grid;
  grid-template: 28px 1fr 28px/ 1fr;
  background: #f2f6f8;
  border: 5px solid #f2f6f8;
  border-radius: 10px;
  width: 85vw;
  margin: 10px auto 10px auto;
}

.comment-body {
  border-top: 2px solid #b5d2e1;
  border-bottom: 2px solid #b5d2e1;
}

.comment-end {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
