.header-grid {
  display: grid;
  grid-template: 80px 26px / 100vw;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  background: #394f5a;
}

.header-button {
  background: #394f5a;
  border-color: #394f5a;
  text-decoration: none;
  border-style: solid;
  transition: color 1s ease;
  margin: auto;
}

.header-button:hover {
  color: maroon;
}

span {
  display: inline-flex;
}

.searchbar {
  margin: auto;
}

.searchbutton {
  background: #394f5a;
  border-color: #232f36;
}

.white-text {
  color: #fffcd9;
}

.red-text {
  color: #d0021b;
}

.log-button {
  min-width: 38px;
}

.username-banner {
  background: #ba1f31;
  text-align: center;
  color: #fffcd9;
  margin: 0px;
}
