.App {
  max-width: 100vw;
}

.topic-container {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas:
    "topic-title          topic-title"
    "topic-description    articles-by-topic-button";
  background: #f2f6f8;
  border: 5px solid #f2f6f8;
  border-radius: 10px;
  width: 85vw;
  margin: 10px auto 10px auto;
}

.topic-title {
  grid-area: topic-title;
  margin: 0px;
}
.topic-description {
  grid-area: topic-description;
  margin: 0px;
}

.button {
  display: flex;
  background: #ba1f31;
  border-style: none;
  border-radius: 5px;
  color: #fffcd9;
  height: 24px;
  width: 100px;
  text-align: center;
  transition: background-color 1s ease;
  justify-content: center;
  margin: auto;
}

.button:hover {
  background-color: maroon;
}

p {
  display: inline;
  margin: 0;
}
ul {
  display: list-item;
  padding: 0px;
  justify-content: center;
}

form {
  text-align: center;
  margin-bottom: 10px;
}
